In [1]:
# importing the required packages
import numpy as np
import pandas as pd

In [8]:
# creating the following DataFrame using Pandas library

#                Population        GDP        Surface        HDI        Continent
# -------------------------------------------------------------------------------------------
#   Canada       35.467         1785387       9984670       0.913        America
#   France       63.951         2833687        640679       0.888        Europe
#   Germany      80.94          3874437        357114       0.916        Europe
#   Italy        60.665         2167744        301336       0.873        Europe
#   Japan       127.061         4602367        377930       0.891        Asia
#   U.K.         64.511         2950039        242495       0.907        Europe
#   U.S.A       318.523         17348075      9525067       0.915        America

# -------------------------------------------------------------------------------------------

my_dataframe = pd.DataFrame({
    
    'Population' : [35.467,
                    63.951,
                    80.94,
                    60.665,
                    127.061,
                    64.511,
                    318.523],
    
    'GDP' : [1785387,
             2833687,
             3874437,
             2167744,
             4602367,
             2950039,
            17348075],
    
    'Surface' : [9984670,
                 640679,
                 357114,
                 301336,
                 377930,
                 242495,
                 9525067],
    
    'HDI' : [0.913,
             0.888,
             0.916,
             0.873,
             0.891,
             0.907,
             0.915],
    
    'Continent' : ['America',
                   'Europe',
                   'Europe',
                   'Europe',
                   'Asia',
                   'Europe',
                   'America']
    
}
)

# displaying the created DataFrame
print("Original Dataframe created is as follows:- \n")
my_dataframe

Original Dataframe created is as follows:-

   Population       GDP  Surface    HDI Continent
0      35.467   1785387  9984670  0.913   America
1      63.951   2833687   640679  0.888    Europe
2      80.940   3874437   357114  0.916    Europe
3      60.665   2167744   301336  0.873    Europe
4     127.061   4602367   377930  0.891      Asia
5      64.511   2950039   242495  0.907    Europe
6     318.523  17348075  9525067  0.915   America

In [10]:
# setting the names of the indexes of the dataframe
my_dataframe.index = ['Canada',
                      'France',
                      'Germany',
                      'Italy',
                      'Japan',
                      'United Kingdom',
                      'United States']

# displaying the named DataFrame
print("\n The named Dataframe is as shown below:- \n")
my_dataframe

 The named Dataframe is as shown below:-

                Population       GDP  Surface    HDI Continent
Canada              35.467   1785387  9984670  0.913   America
France              63.951   2833687   640679  0.888    Europe
Germany             80.940   3874437   357114  0.916    Europe
Italy               60.665   2167744   301336  0.873    Europe
Japan              127.061   4602367   377930  0.891      Asia
United Kingdom      64.511   2950039   242495  0.907    Europe
United States      318.523  17348075  9525067  0.915   America

In [27]:
# determining the various attributes of the dataframe

# 1. Columns of the dataframe
print("Columns of the dataframe are:", my_dataframe.columns, "\n")

# 2. Indexes of the dataframe
print("Indexes of the dataframe are:", my_dataframe.index, "\n")

# 3. Information about the dataframe
print("Information about the dataframe is shown below:- \n")
print(my_dataframe.info, "\n")

# 4. Size of the dataframe
print("Size of the dataframe:", my_dataframe.size, "\n")

# 5. Shape of the dataframe
print("Shape of the dataframe:", my_dataframe.shape, "\n")

# 6. Description of the dataframe
print("Description of the dataframe is shown below:- \n")
print(my_dataframe.describe(), "\n")

# 7. Datatypes present in the dataframe
print("Datatypes of the dataframe are shown below:- \n")
print(my_dataframe.dtypes, "\n")

# 8. Count of the values of particular datatypes
print("Count of values of different datatypes are:- \n")
print(my_dataframe.dtypes.value_counts(), "\n")

Columns of the dataframe are: Index(['Population', 'GDP', 'Surface', 'HDI', 'Continent'], dtype='object')

Indexes of the dataframe are: Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

Information about the dataframe is shown below:-

<bound method DataFrame.info of                 Population       GDP  Surface    HDI Continent
Canada              35.467   1785387  9984670  0.913   America
France              63.951   2833687   640679  0.888    Europe
Germany             80.940   3874437   357114  0.916    Europe
Italy               60.665   2167744   301336  0.873    Europe
Japan              127.061   4602367   377930  0.891      Asia
United Kingdom      64.511   2950039   242495  0.907    Europe
United States      318.523  17348075  9525067  0.915   America>

Size of the dataframe: 35

Shape of the dataframe: (7, 5)

Description of the dataframe is shown below:-

       Population           GDP       Surface       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

Datatypes of the dataframe are shown below:-

Population    float64
GDP             int64
Surface         int64
HDI           float64
Continent      object
dtype: object

Count of values of different datatypes are:-

int64      2
float64    2
object     1
dtype: int64

In [33]:
# Indexing, Selection and Slicing of the DataFrame

# extracting a particular row from the dataframe using the index name itself
index_name = input("Enter the name of the index: ")
print("Data of the particular index is as shown below:- \n")
print(my_dataframe.loc[index_name], "\n")

# extracting a particular row from the dataframe based on the index position
index_position = int(input("Enter the position of the index: "))
print("Data of the particular index is as shown below:- \n")
print(my_dataframe.iloc[index_position], "\n")

Enter the name of the index: Japan
Data of the particular index is as shown below:-

Population    127.061
GDP           4602367
Surface        377930
HDI             0.891
Continent        Asia
Name: Japan, dtype: object

Enter the position of the index: 3
Data of the particular index is as shown below:-

Population     60.665
GDP           2167744
Surface        301336
HDI             0.873
Continent      Europe
Name: Italy, dtype: object

In [43]:
# displaying the values of a particular column
column_name = input("Enter the name of the column: ")
print("Values of", column_name, "are as follows:- \n")
print(my_dataframe[column_name], "\n")

# displaying mutiple columns
number_of_columns = int(input("Enter number of columns: "))
list_of_columns = []
print("Enter the column names one by one... \n")
for i in range(number_of_columns):
    list_of_columns.append(input())
    
print("Values of the entered columns are as follows:- \n")
print(my_dataframe[list_of_columns], "\n")

Enter the name of the column: Population
Values of Population are as follows:-

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

Enter number of columns: 2
Enter the column names one by one...

GDP
HDI
Values of the entered columns are as follows:-

                     GDP    HDI
Canada           1785387  0.913
France           2833687  0.888
Germany          3874437  0.916
Italy            2167744  0.873
Japan            4602367  0.891
United Kingdom   2950039  0.907
United States   17348075  0.915

In [47]:
# 1. SLICING the dataframe based on index positions
starting_index = int(input("Enter the starting index: "))
ending_index = int(input("Enter the ending index: "))
print("Sub-Dataframe is as follows:- \n")
print(my_dataframe.iloc[starting_index : ending_index], "\n")

# 2. SLICING the dataframe based on index names
starting_index_name = input("Enter the starting index name: ")
ending_index_name = input("Enter the ending index name: ")
print("Sub-Dataframe is as follows:- \n")
print(my_dataframe.loc[starting_index_name : ending_index_name], "\n")

# 3. SLICING the dataframe based on selected rows and selected columns
start_index_name = input("Enter starting index name: ")
end_index_name = input("Enter ending index name: ")
column_list = []
number_of_columns = int(input("Enter no. of columns: "))
print("Enter the column names..\n")
for j in range(number_of_columns):
    column_list.append(input())
    
print("Sub-Dataframe is as follows:- \n")
print(my_dataframe.loc[start_index_name : end_index_name, column_list])

Enter the starting index: 2
Enter the ending index: 5
Sub-Dataframe is as follows:-

         Population      GDP  Surface    HDI Continent
Germany      80.940  3874437   357114  0.916    Europe
Italy        60.665  2167744   301336  0.873    Europe
Japan       127.061  4602367   377930  0.891      Asia

Enter the starting index name: France
Enter the ending index name: Japan
Sub-Dataframe is as follows:-

         Population      GDP  Surface    HDI Continent
France       63.951  2833687   640679  0.888    Europe
Germany      80.940  3874437   357114  0.916    Europe
Italy        60.665  2167744   301336  0.873    Europe
Japan       127.061  4602367   377930  0.891      Asia

Enter starting index name: France
Enter ending index name: Japan
Enter no. of columns: 3
Enter the column names..

Population
Surface
Continent
Sub-Dataframe is as follows:-

         Population  Surface Continent
France       63.951   640679    Europe
Germany      80.940   357114    Europe
Italy        60.665   301336    Europe
Japan       127.061   377930      Asia